<%= image_tag  @cardtable.player.hand[0].image %>
<%= image_tag  @cardtable.player.hand[1].image %></br>
<%= image_tag  @cardtable.dealer.hand[0].image %>
<%= image_tag  @cardtable.dealer.hand[1].image %>

<h1>Go for it <%= @cardtable.player_record.username %></h1>
